.ride{
  padding: 0 48px;
}

.container {
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-content: center;
}

.flex-row {
  flex: 1;
  display: flex;
  flex-flow:column;
  justify-content:center;
  align-content:center;
}

.flex-row-top{
  flex: 1;
  border-radius:5px;
  margin:24px 0 48px 0;
}

.header{
  padding: 10px 48px;
}

.flex-col-left{
  flex: 4 1 0;
  padding:24px;
  margin-right:24px;
  /* border: 1px solid #009688; */
  justify-content:center;
  align-content:center;
}

.flex-col-right{
  flex: 8 1 0;
  border-radius: 5px;
  justify-content:center;
  align-content:center;
  border: 1px solid #4db6ac;
}

.disabled ul {
  list-style-type: circle;
  margin-left:10px;
}

.flex-col-right .section h2 {
  margin: 0.5em;
}

#ride-form label {
  color: rgba(255,255,255,0.87);
  font-size: 1em;
}

#ride-form input {
  color: rgba(255,255,255,0.87);
}

textarea {
  height:92px !important;
}

select {
  display: block;
  background-color: rgba(44,44,44);
  border-radius: 0;
  border: 1px solid #4db6ac;
  color: rgba(255,255,255,0.87);
}

.modal {
  color: black;
}

.file-upload{
  margin-top: 20px;
  color: rgba(255,255,255,0.87);
}
@media only screen and (min-width: 992px){
  .flex-row{
    flex-flow: row;
  }
}
