.container {
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-content: center;
}

.flex-row-top{
  flex: 1;
  border-radius:5px;
  margin:24px 0 48px 0;
}

.header{
  padding: 10px 48px;
}

.header h4{
  margin: .2em 0;
}
